@import '@/assets/variables.css';
@import '@/assets/breakpoints.css';
@import '@/assets/responsive.css';
@import '@/assets/base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-weight: normal;
}
